{% extends 'home.html' %}
{% block title %} Products {% endblock %}

{% block front_page %}
{% endblock %}

{% block content %} 
    <div class="container-page">
        <aside class="aside-left">
            <h4>Nuevo prodcuto</h4>
            <form action="" method="post">
                <input type="text" name="nombre_producto" id="" value="" placeholder="Nombre" required>
                <input type="text" name="categoria" id="" value="" placeholder="categoria" required>
                <input type="text" name="talla" id="" value="" placeholder="talla" required>
                <input type="text" name="marca" id="" value="" placeholder="marca" required>
                <input type="number" name="precio" id="" value="" placeholder="precio" required>
                <input type="number" name="cantidad_disponible" id="" value="" placeholder="cantidad disponible" required>
                <input type="submit" name="crear" id="" value="Añadir producto">
            </form>
            <h4>Carrito de compras</h4>
            {% for cartProduct in cartProducts %}
                <div class="product">
                    <div>
                        <p>{{cartProduct.product.nombre}}</p>
                    </div>
                    <div>
                        <label for="">X {{cartProduct.product.cantidad}}</label>
                        <form action="/delProduct/{{cartProduct.id}}" method="post">
                            <input class="inp-icon-trash" type="image" src="static/Icons/trash-can-regular.svg" value="">
                        </form>
                    </div>
                </div>
            {% endfor %}
            {% if cartProducts|length != 0 %}
                <form action="/orders" >
                    <input class="btn-do-order" type="submit" value="Realizar pedido">
                </form>
            {% endif %}
        </aside>

        <main class="main-page">
            <h3>Productos</h3>
            <div class="div-products">
                {% for product in products %}
                    <div class="product">
                        <div>
                            <p><b>Nombre:</b>  {{product.nombre_producto}}</p>
                            <p><b>Precio:</b> {{product.precio}}$</p>
                            <p><b>Categoria:</b> {{product.categoria}}</p>
                            <p><b>Talla:</b> {{product.talla}}</p>
                            <p><b>Marca:</b> {{product.marca}}</p>
                            <p><b>Stock:</b> {{product.cantidad_disponible}}</p>
                        </div>
                        <div>
                            <form action="/addProduct/{{product.id_producto}}" method="post">
                                <label for="">Cantidad:</label>
                                <input class="inp-quantity" type="number" name="quantity" id="" value="1">
                                <input class="inp-icon-shop" type="image" src="static/icons/cart-arrow-down-solid.svg" title="agregar al carrito">
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock %}